<template>
<section class="search-main-content">
  <section class="search-info" id="rating-bgcolor" v-bind:style="changeBgColor()">

    <div class="search-info-data">

      <div class="website-screenshot">
        <img class="screenshot" src="../assets/images/tesla_screenshot.jpeg" alt="">
      </div>

      <div class="website-info">
        <h4>www.tesla.com</h4>
        <p>Electric Cars, Solar Panels & Clean Energy Storage | Tesla</p>
        <ul class="website-stats">
          <li class="ratings-value">
            <p>{{rating}}</p>
            <star-rating :star-size="20" :increment="0.5" :show-rating="false" v-model="rating"></star-rating>
          </li>
          <li class="company-country">
            <img class="country-flag" src="https://thetrustsearch.com/themes/watchdog/assets/panel/images/flags/ch.svg" alt="">
            Swiss
          </li>
          <li><div class="verified-badge-with-title">
            &#10004 verified
            </div>
          </li>
        </ul>
      </div>

      <div class="website-rating">
        <star-rating :star-size="50" :increment="0.5" :show-rating="false" v-model="rating"></star-rating>
        <h3 id="rating-text">{{ratingText}}</h3>
      </div>
    </div>
  </section>
  <br>

  <div class="analysis-content">
  <h2>Analyze Report</h2>
  <div class="grid-analysis">
    <div class="analysis-stat">
      <h5>Domain registration date</h5>
      <span>12.12.12</span>
    </div>
        <div class="analysis-stat">
      <h5>Domain expiration date</h5>
      <span>12.12.12</span>
    </div>
        <div class="analysis-stat">
      <h5>Connection Saftey</h5>
      <span>SECURE</span>
    </div>
        <div class="analysis-stat">
      <h5>Organziation Check</h5>
      <span>TESLA MOTORS INC (USA)</span>
    </div>
        <div class="analysis-stat">
      <h5>Etherscam DB</h5>
      <span>NONE</span>
    </div>
        <div class="analysis-stat">
      <h5>Phishtank Status</h5>
      <span>NOTHING FOUND</span>
    </div>
        <div class="analysis-stat">
      <h5>Trustworthiness</h5>
      <span>4.0</span>
    </div>
        <div class="analysis-stat">
      <h5>Index Page Analysis</h5>
      <span>EXISTS</span>
    </div>
        <div class="analysis-stat">
      <h5>Redirects Count</h5>
      <span>0</span>
    </div>
  </div>
  <br>
  <h4>Description</h4>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis vero similique numquam magnam, dignissimos doloribus itaque saepe sunt et modi dolor? Magni labore maxime eveniet voluptatum dolor nostrum aliquam pariatur.</p>
<br>
<div class="share" style="text-align:center;">
  <button>Share your experience and earn rewards</button>
</div>

<div class="video-reviews">
  <h2>Video Reviews</h2>
  <div class="v-reviews-container">

    <div class="v-reviews">
    <iframe width="250"
     height="200"
      src="https://www.youtube.com/embed/el9vO-L87Is"
       frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen>
    </iframe>
    <h3>Mikus Losans</h3>
    </div>

    <div class="v-reviews">
    <iframe width="250" height="200" src="https://www.youtube.com/embed/SGF4FyWYStY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   <h3>Crypto Cruising</h3>
    </div>
    <div class="v-reviews">
    <iframe width="250" height="200" src="https://www.youtube.com/embed/SGF4FyWYStY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   <h3>Crypto Cruising</h3>
    </div>

        <div class="v-reviews">
    <iframe width="250"
     height="200"
      src="https://www.youtube.com/embed/el9vO-L87Is"
       frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
         allowfullscreen>
    </iframe>
    <h3>Mikus Losans</h3>
    </div>

</div>
</div>
<br>

<div class="textual-reviews">
  <h2>Textual reviews</h2>
  <div class="grid-reviews">

    <div class="grid-review">
      <img class="user-pic" src="../assets/images/user.png" alt="">
      <div class="user-info">
        <h3>Mohit</h3><span>India</span>
        <div class="user-ratings">
        <p>{{userrating}}</p>
        <star-rating v-model="userrating" :star-size="20" :increment="0.5" :show-rating="false"></star-rating>
        </div>

        <h5>04/07/2019</h5>
        <h5>"Good website. Had no issues with it"</h5>
      </div>
    </div>

        <div class="grid-review">
      <img class="user-pic" src="../assets/images/user.png" alt="">
      <div class="user-info">
        <h3>Mikus</h3><span>Riga</span>
        <div class="user-ratings">
        <p>{{userrating}}</p>
        <star-rating v-model="userrating" :star-size="20" :increment="0.5" :show-rating="false"></star-rating>
        </div>
        <h5>Comment</h5>
      </div>
    </div>
        <div class="grid-review">
      <img class="user-pic" src="../assets/images/user.png" alt="">
      <div class="user-info">
        <h3>Arturs</h3><span>Riga</span>
        <div class="user-ratings">
        <p>{{userrating}}</p>
        <star-rating v-model="userrating" :star-size="20" :increment="0.5" :show-rating="false"></star-rating>
        </div>
        <h4>Date</h4>
        <h5>Comment</h5>
      </div>
    </div>
        <div class="grid-review">
      <img class="user-pic" src="../assets/images/user.png" alt="">
      <div class="user-info">
        <h3>Mohit</h3><span>India</span>
                <div class="user-ratings">
        <p>{{userrating}}</p>
        <star-rating v-model="userrating" :star-size="20" :increment="0.5" :show-rating="false"></star-rating>
        </div>
        <h4>Date</h4>
        <h5>Comment</h5>
      </div>
    </div>
        <div class="grid-review">
      <img class="user-pic" src="../assets/images/user.png" alt="">
      <div class="user-info">
        <h3>Mohit</h3><span>India</span>
                <div class="user-ratings">
        <p>{{userrating}}</p>
        <star-rating v-model="userrating" :star-size="20" :increment="0.5" :show-rating="false"></star-rating>
        </div>
        <h4>Date</h4>
        <h5>Comment</h5>
      </div>
    </div>
        <div class="grid-review">
      <img class="user-pic" src="../assets/images/user.png" alt="">
      <div class="user-info">
        <h3>Mohit</h3><span>India</span>
                <div class="user-ratings">
        <p>{{userrating}}</p>
        <star-rating v-model="userrating" :star-size="20" :increment="0.5" :show-rating="false"></star-rating>
        </div>
        <h4>Date</h4>
        <h5>Comment</h5>
      </div>
    </div>
        <div class="grid-review">
      <img class="user-pic" src="../assets/images/user.png" alt="">
      <div class="user-info">
        <h3>Mohit</h3><span>India</span>
                <div class="user-ratings">
        <p>{{userrating}}</p>
        <star-rating v-model="userrating" :star-size="20" :increment="0.5" :show-rating="false"></star-rating>
        </div>
        <h4>Date</h4>
        <h5>Comment</h5>
      </div>
    </div>
        <div class="grid-review">
      <img class="user-pic" src="../assets/images/user.png" alt="">
      <div class="user-info">
        <h3>Mohit</h3><span>India</span>
                <div class="user-ratings">
        <p>{{userrating}}</p>
        <star-rating v-model="userrating" :star-size="20" :increment="0.5" :show-rating="false"></star-rating>
        </div>
        <h4>Date</h4>
        <h5>Comment</h5>
      </div>
    </div>
  </div>
</div>
</div>
</section>
</template>
<script>
export default {
  data(){
    return{
      rating: 1,
      ratingText: '',
      userrating: 1
    }
  },

  mounted() {
  },

  methods: {
    changeBgColor(){
      if(this.$data.rating>=0.5 && this.$data.rating<=2){
        this.$data.ratingText = 'This site is dangerous!'
        return {
          background : `linear-gradient(290deg,red,red,red,transparent)`
      }
      }else if(this.$data.rating>2 && this.$data.rating<=3.5){
        this.$data.ratingText = 'This site is suspicious..'
         return {
          background : `linear-gradient(290deg,orange,orange,orange,transparent)`
      }
      }else{
        this.$data.ratingText = 'Good,safe website'
         return {
          background : `linear-gradient(290deg,green,green,green,transparent)`
      }
      }
    }
  }

}
</script>

