<template>
<section class="home-section">
  <div class="tagline">
    <h3><em>TrustSearch - the search engine for trust!</em></h3>
    <br>
    <p>We help you to check trustworthiness of websites, people and businesses</p>
  </div>
  <br>
  <br>
  <br>
<button class="analyse">Analyse any website</button>

<div class="search">
  <input type="text" placeholder="Enter any website domain for verification"/>
  <button class="search-site">Search</button>
</div>
<div class="stats">
  <div class="stat">
  <animated-number
    :value="websites"
    :duration="duration"
    />
  <span>Active websites worldwide</span>
  </div>

  <div class="stat">
  <animated-number
    :value="business"
    :duration="duration"
    />
  <span>Business websites worldwide</span>
  </div>

  <div class="stat">
  <animated-number
    :value="users"
    :duration="duration"
    />
  <span>Internet Users</span>
  </div>

</div>
</section>
</template>

<script>
// import HelloWorld from '@/components/HelloWorld.vue'
import AnimatedNumber from "animated-number-vue";
export default {
  name: 'Home',
  components: {
    // HelloWorld
    AnimatedNumber
  },
  data(){
    return{
      websites : 18000000000,
      duration: 700,
      business : 42000000,
      users: 4383810342
    }
  },
  methods: {
    numberWithCommas(value) {
    return value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
  }
}
</script>
