<template>
  <div id="app">
  <nav class="navbar">
        <span class="navbar-toggle" id="js-navbar-toggle" @click="openMenu">
            <font-awesome-icon icon="bars" />
        </span>
        <a href="#">
          <img class="logo" src="./assets/images/trustsearch_logo.png" alt="">
        </a>
        <ul class="main-nav" id="js-menu">
            <li>
                <a href="#" class="nav-links">Home</a>
            </li>
            <li>
                <a href="#" class="nav-links">About</a>
            </li>
            <li>
                <a href="#" class="nav-links">Support</a>
            </li>
            <li>
                <a href="#" class="nav-links">Contacts</a>
            </li>
            <li>
                <a href="#" class="nav-links" id="login">Login</a>
            </li>
        </ul>
    </nav>

    <router-view />

    <footer>
      <div id="social-links">
        <img class="logo" src="./assets/images/trustsearch_logo_white.png" alt="">
        <div id="social-icons">
          <font-awesome-icon :icon="['fab', 'twitter']" size="2x" class="icon alt"/>
          <font-awesome-icon :icon="['fab', 'facebook']" size="2x" class="icon alt"/>
          <font-awesome-icon :icon="['fab', 'google']" size="2x" class="icon alt"/>
          <font-awesome-icon :icon="['fab', 'linkedin']" size="2x" class="icon alt"/>
        </div>
        <button class="lang-selected">
          English
        </button>
      </div>

      <div id="page-links">
        <div class="page-link">
          <h3>Business</h3>
          <ul>
            <li>Claim your ownership</li>
            <li>Engage your community</li>
            <li>Recieve alerts</li>
            <li>Plans and pricing</li>
          </ul>
        </div>
        <div class="page-link">
          <h3>For internet users</h3>
          <ul>
            <li>Check website reputation</li>
            <li>Get rewards</li>
            <li>Be safe online</li>
            <li>Referral program</li>
          </ul>
        </div>
        <div class="page-link">
          <h3>Helpful Links</h3>
          <ul>
            <li>Contact</li>
            <li>Privacy Policy</li>
            <li>Terms of use</li>
          </ul>
        </div>
        <div class="page-link">
          <h3>Account</h3>
          <ul>
            <li>Log In</li>
            <li>My Account</li>
          </ul>
        </div>
        <div class="page-link" id="newsletter">
          <h3>Sign up for a newsletter</h3>
          <p>Weekly breaking news, analysis and cutting edge advices on how to be safe online</p>
          <input type="text" class="newsletter-input">
          <button class="newsletter-input-submit">Go</button>
        </div>
      </div>
      <div class="copyright">&#169; 2019 <b>TrustSearch</b> All Rights Recieved</div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'App',
  data(){
    return{

    }
  },

  methods : {
    openMenu(){
      let mainNav = document.getElementById('js-menu');
      let navBarToggle = document.getElementById('js-navbar-toggle');

        mainNav.classList.toggle('active');
    }
  }
}
</script>


<style>
@import './assets/css/styles.css';
</style>
