@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat';
}
button , a{
  cursor: pointer;
}
.navbar {
  font-size: 18px;
  background-image: linear-gradient(260deg, #28B661 0%, transparent 100%);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

#login{
  background: red;
  /* padding: 6px; */
  border: 1px solid red;
  padding: 5px 10px
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  max-width: 200px;
}

.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

footer{
  background: #484848;
  color: #dedede;
  padding: 10px 0;
  height: auto
}
footer ul {
  list-style: none;
  margin: 20px 0;
}
footer ul li{
  padding: 10px 0;
}
#social-links{
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  align-items: center;
  border-bottom: 1px solid #fff;
}

#page-links{
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-bottom: 1px solid #fff;
  padding: 5px 20px;
}

#page-links ul li {
  margin: 10px 0;
}

.page-link ul {
  padding: 0;
}


#newsletter{
  max-width: 300px;
}

#newsletter p{
  line-height: 26px;
  margin: 10px 0;
}

.copyright{
  margin: 10px 0;
  text-align: center;
}

.home-section{
  background-image:url('../images/home-background.jpg');
  padding: 15px 50px;
}

.tagline h3{
  font-size: 30px;
}

.tagline p {
  font-size: 20px;
  color: #fff;
  max-width: 320px;
  line-height: 35px;
}

.analyse{
  outline: none;
  border: none;
  padding: 10px 13px;
  background: green;
  color: #fff;
  border-radius: 10px;
  margin: 20px 0px;
  font-size: 15px;
}

.search{
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.search input[type=text]{
  padding: 10px;
  width: 80%;
  border: none;
  outline: none;
}

.search .search-site{
  border: none;
  outline: none;
  background: #28B661;
  color: #fff;
  padding: 5px 13px;
  margin: 0px 10px;
  height: 100%;
}

.search .search-site:hover{
  cursor: pointer;
}


.stats{
  display: flex;
  justify-content: space-between;
  margin: 30px 40px;
}



.search-info{
  /* background-image: url('../images/page-background.png'); */
}

.lang-selected{
  color: #fff;
    background-color: #444;
    transition: 0.3;
    outline: none;
    padding: 10px 13px;
    border: none;
    width: 300px
}

.lang-selected:hover{
  background: #28B661;
  cursor: pointer;
}

.search-info-data{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}

.website-stats{
  list-style: none;
  display: inline;
  padding: 0;
}

.user-pic{
  width: 50px;
  height: 50px;
}

.newsletter-input{
  background: #262626;
  border: none;
  outline: none;
  padding: 10px;
  color: #fff;
  border-radius: 2px;
}

.newsletter-input-submit{
  background: #28B661;
  color: #fff;
  padding: 10px;
  border: none;
  outline: none;
  margin: 0px 5px;
}


.grid-analysis{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin: 30px 0;
  padding: 0px 30px
}

.analysis-stat{
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding: 10px;
  transition: all 0.3 ease-out;
  color: #484848;
}

.analysis-stat:hover{
  background: #000;
  color: #fff;
  transform: scale(1);
}

.grid-reviews{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 0px 30px;
}

.grid-review{
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}

.grid-review .user-info{
  padding: 0px 10px;
}

.grid-review .user-info h3, h4, h5 {
  padding: 5px 0px;
}

.analysis-content{
  padding: 0px 90px
}

.screenshot{
  width: 250px;
  height: 150px;
}

.website-info h4{
  padding-bottom: 10px;
}

.website-info p{
  padding-bottom: 10px
}

.v-reviews-container{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 30px;

}

.ratings-value{
  display: inline;
}
.verified-badge-with-title{
  padding: 5px 5px;
  background: #28B661;
  max-width: 100px;
  border-radius: 5px;
}

.ratings-value{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 0;
}

.ratings-value p{
  margin-right: 10px;
  display: inline-block;
  background: #eda711;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px
}

.company-country{
  margin: 10px 0;
}

.country-flag{
  height: 16px;
  border-radius: 3px;
  display: inline-block;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  margin-right: 5px;
  cursor: pointer
}



@media screen and (max-width: 768px){
  .grid-analysis{
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
  }

  .v-reviews-container{
    grid-template-columns: repeat(1,1fr)
  }

  .analysis-stat{
    max-width: 200px;
  }

  .grid-reviews {
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
  }

  .grid-review{
    max-width: 200px;
  }

  .analysis-content{
    padding: 0px 5px;
  }

  .search-info-data{
    flex-direction: column;
    align-items: start;
  }

}

.share button{
  border: none;
  outline: none;
  padding: 10px 28px;
  background: #28B661;
  color: #fff;
  font-size: 15px;
  border-radius: 18px;
  font-weight: bold;
}

.stat{
  color: #fff;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.user-ratings{
  display: flex;
  justify-content: flex-start;
}

.user-ratings p{
  margin-right: 5px;
  display: inline-block;
  background: #eda711;
  color: #fff;
  padding: 2px 10px;
  border-radius: 5px
}

@media screen and (max-width: 800px) {
  #social-links, #page-links{
    flex-direction: column;
  }

  #social-icons, .lang-selected {
    margin: 10px 0;
  }

  .search{
    flex-direction: column;
    justify-content: space-between;
    background: inherit;
  }

  .search input[type=text]{
    width: 100%;
  }

  .stats{
    display: none;
  }

  .lang-selected{
    width: 60%;
  }


}

@media screen and (min-width: 768px) {

  .navbar {
      display: flex;
      justify-content: space-between;
      padding-bottom: 0;
      height: 70px;
      align-items: center;
  }

  .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
  }

  .main-nav li {
      margin: 0;
  }

  .nav-links {
      margin-left: 40px;
  }

  .logo {
      margin-top: 0;
  }

  .navbar-toggle {
      display: none;
  }

  .logo:hover,
  .nav-links:hover {
      color: rgba(255, 255, 255, 1);
  }
}